:root {
  --bg-color: #3bbbf5;
  --bg-color-2: #2fabe3;
  --bg-size: 5px;
  --bg-angle: 45deg;
  --selected-color: #00ffff;
  --border-color: #026175;
  --font-size: min(4vw, 2vh);
}
body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: arial, sans-serif;
  font-size: var(--font-size);
  background-image: repeating-linear-gradient(
    var(--bg-angle),
    var(--bg-color),
    var(--bg-color) var(--bg-size),
    var(--bg-color-2) var(--bg-size),
    var(--bg-color-2) calc(var(--bg-size) * 2)
  );
  background-size: calc(var(--bg-size) * 2 / sin(var(--bg-angle))) 100%;
  animation: bg 1s linear infinite reverse;
}
@keyframes bg {
  0% {
    background-position: calc(var(--bg-size) * 2 / sin(var(--bg-angle))) 0;
  }
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
}
.hidden {
  display: none;
}
.enabled {
  touch-action: none;
}
.disabled {
  pointer-events: none;
}
.box {
  background: white;
  border-radius: 2vw;
  padding: 2vw;
  word-break: break-word;
  position: relative;
  display: inline-block;
  animation: visible ease 1s;
  min-height: 6vw;
  display: inline-flex;
  align-items: center;
  font-family: monospace;
  font-size: 4vw;
}
textarea {
  font-family: monospace;
  font-size: 4vw;
}
.say {
  margin-left: 2vw;
}
.say:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 3vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent white;
  border-width: 2vw 2vw 2vw 0;
  translate: -2vw 0;
}
.button {
  border: 2px solid var(--border-color);
  background-color: white;
  border-radius: 2vw;
  padding: 2vw 10vw;
  font-family: arial, sans-serif;
  font-size: var(--font-size);
  position: relative;
  overflow: hidden;
}
.button:before {
  content: '';
  position: absolute;
  width: 8vw;
  height: 200%;
  background: linear-gradient(to right, transparent 0%, var(--selected-color) 10%, transparent 20%, transparent 50%, var(--selected-color) 75%, transparent 100%);
  animation: 10s ease-in infinite both shine;
  z-index: 0;
  top: -50%;
  left: 0;
  rotate: 20deg;
}
@keyframes shine {
  0% {
    left: -50%;
  }
  90% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}
.button > * {
  position: relative;
  z-index: 1;
}
.button-lg {
  font-size: calc(var(--font-size) * 1.5);
  border-radius: 3vw;
  animation: pulse 2s linear infinite;
}
.button-sm {
  font-size: calc(var(--font-size) * 1.5);
  padding: 2vw;
  line-height: 4vw;
  min-width: calc(8vw + 4px);
}
.button-sm:before {
  animation: 10s ease-in infinite both shine-sm;
}
@keyframes shine-sm {
  0% {
    left: -150%;
  }
  90% {
    left: -150%;
  }
  100% {
    left: 250%;
  }
}
@keyframes pulse {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
}
.button:hover,
.button:active {
  background-color: #c5ffff;
}
.button.selected {
  background-color: var(--border-color);
  color: white;
  border-color: white;
}
.button.selected:hover,
.button.selected:active {
  background-color: #0a8099;
}
.icon {
  display: block;
  width: min(10vw, 5vh);
  height: min(10vw, 5vh);
}
.draw-icon {
  width: 100%;
  height: 100%;
  color: black;
}