:root {
  --bg-color: #3bbbf5;
  --selected-color: #00ffff;
  --border-color: #026175;
}
body {
  margin: 0;
  height: 100vh;
  background-color: var(--bg-color);
  overflow-x: hidden;
  font-family: monospace;
  font-size: 4vw;
}
#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
}
.enabled {
  touch-action: none;
}
.disabled {
  pointer-events: none;
}
.box {
  background: white;
  border-radius: 2vw;
  padding: 2vw;
  word-break: break-word;
  position: relative;
  display: inline-block;
  animation: visible ease 1s;
  min-height: 6vw;
  display: inline-flex;
  align-items: center;
}
.say {
  margin-left: 2vw;
}
.say:before {
  content: "";
  position: absolute;
  left: 1px;
  top: 3vw;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent white;
  border-width: 2vw 2vw 2vw 0;
  translate: -2vw 0;
}
.button {
  border: 2px solid var(--border-color);
  background-color: white;
  border-radius: 2vw;
  padding: 2vw 10vw;
}
.button:hover,
.button:active,
.button.selected {
  background-color: #c5ffff;
}
